@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Xpos307.ViewModels
@model VMTblVariant

@{
    Layout = null;
}

<div class="h2">Category</div>
<br>
<div class="card">
    <form id="frmDeleteCategory" method="post" asp-action="Delete">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="card-header">Delete Menu</div>
        <div class="card-body">
            <div class="mb-3">
                <p class="h4">Are you SURE want to remove Variant?</p>
                @*<label>Name</label>
                <input type="text" name="Name" class="form-control" value="@Model.Name" disabled />
                <input type="hidden" name="Id" value="@Model.Id">*@
            </div>
            @*<div class="mb-3">
                <label>Category</label>
                <input type="text" name="Description" class="form-control" value="@Model.CategoryName" disabled />
            </div>
            <div class="mb-3">
                <label>Description</label>
                <input type="text" name="Description" class="form-control" value="@Model.Description" disabled />
            </div>*@
        </div>

        <div class="card-footer">
            <input type="hidden" name="UpdateBy" value="3"/>
            <button type="submit" class="btn btn-danger" id="btnSave"><i class="fas fa-trash-alt"></i></button>
            <button type="Button" class="btn btn-primary" id="btnCancel">Cancel</button>
        </div>
    </form>
</div>

<script>
    $("#btnCancel").click(function () {
        $("#MyModal").modal("hide");
    });
</script>